*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #7e4646;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
img{
    position: fixed;
    height: 50px;
    width: 50px;
    pointer-events: none;
    transform: translate(-50%,-50%);

}
