*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
   
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.elem{
    height: 5rem;
    width: 50%;
    background-color: rgb(130, 124, 123);
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 10px;
}
.elem button{
    height: 2rem;
    width: 5rem;
    padding: 2px;
    background-color: #1433cd;
    border-radius: 10px;
    color: white;
    margin: 12px;
}