*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
:root{
    --x:100px;
    --y:100px;
}
body{
    background-image:url('https://images.pexels.com/photos/33221871/pexels-photo-33221871.jpeg');
    background-size: cover;
}
.box{
    height: 100%;
    width: 100%;
     background: radial-gradient(300px at var(--x) var(--y), rgba(255, 255, 255, 0.62) 100px, rgba(0, 0, 0, 0.607)150px);
}