*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.card{
    height: 60vh;
    width: 20vw;
    border-radius: 15px;
    padding: 3rem;
    border: 2px solid #ffffff;   
    background: linear-gradient(to right bottom, rgb(180, 67, 32), rgb(132, 136, 10));  
    overflow: hidden;
  
}
.card div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}
.card img{
    height: 90%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover; 
    overflow: hidden;
}
.card h2{
   
    bottom: 3rem;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right bottom, rgb(243, 235, 1), rgb(132, 136, 10));
    border-radius: 2rem;

}
.card i{
    position: absolute;
    top: 50%;
    right: 10%;    
    background: linear-gradient(to right bottom, #ea13b1, #501fb1);
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
   
    transform: translate(-50%, -50%) scale(1) rotate(-90deg);
    font-size: 5rem;
    opacity: 0;
    
    cursor: pointer;
    transition: all cubic-bezier(.41,.78,.4,1.54) 0.6s;
}

