.inputElement{
    width: 36%;
    padding: 0.5rem;
    background-color: antiquewhite;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin: 2px;
    font-size: 2rem;
    font-weight: bold;
}
@media (max-width: 768px) {
    .inputElement{
        width: 100%;
    }
}