.mainform{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 50, 110);
}
.formBody{
    background-color: rgb(18, 96, 96);
}
.input{
    width: 100%;
    background-color: rgb(199, 158, 104);
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    border:3px solid rgb(7, 50, 110);
    font-size: 1.4rem;
    font-weight: bold;
}