*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.card{
    height: 400px;
    width: 300px;
    background:linear-gradient(to right bottom,rgb(137, 193, 197),rgb(213, 228, 227));
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.card img{
    height: 100px;
    width: 100px;
    border: 2px solid #352dab;
    border-radius: 50%;
    object-fit: cover;

}
.card h1{
    font-size: 3rem;
    color: #352dab;
}
.card h2{
    width: 80%;
    font-size: 18px;
    color: #2d046e;
    background-color: aqua;
    border: 1px solid #767495;
    border-radius: 10px;
}