*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #0e0e0e;
}
.box {
    height: 200px;
    width: 200px;
}
.red{
    background-color: red;
   
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.8;
}
body .box:hover {
     transform: scale(1.05) !important;
     opacity: 1 !important;
}