*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   
}

main{
    height: 100%;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 50vh;
    width: 50vw;
    margin: auto;
    padding: 2rem;
    background: #fffefe;
    border-radius: 10px;
    
}
.card p{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.card p span{
    color: rgb(76, 172, 196);
}
.outer{
    height: 2.5em;
    background-color: rgb(182, 172, 172);
    margin: auto;
    
    border-radius: 50px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: rgb(26, 90, 39);
    border-radius: 50px;
    animation: load 2s infinite;
}

.bottom{
    
    
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    
}
.bottom >h2{
    font-size: 6rem;
    font-weight: 900;
    margin: 1rem;
}

button{
    background-color:rgb(36, 115, 53);
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
}

button:active{
    transform: scale(0.98);
}
button:hover{
    background-color: rgb(45, 26, 90);
}