*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

} 
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}
body{
    background-color: rgb(75, 75, 75);

}
section{
    max-width: 1600px;
}
@mixin flexColumn($gapValue){
    display: flex;
    flex-direction: column;
    gap: $gapValue;
}
main{
    width: 100%;
    @include flexColumn(0rem);
    align-items: center;
    section.view1{
        width: 100%;     
        padding: 1rem;
        @include flexColumn(1rem);
      


        .top{
            width: 100%;
            

            img{
                width: 100%;
                
                border-radius: 1rem;
                object-fit: cover;
                
            }
            
        }
        .bottom{
            background-color: rgb(31, 28, 28);
            padding: 1.5rem;
            border-radius: 10px;
           @include flexColumn(1.5rem);
            .text{
                display:flex;
                flex-direction: column;
                gap: 0.7 rem;

                h1{
                    font-weight: 400;   
                    font-size: 2.5rem; 
                    text-transform: uppercase;            
                }
                p{
                    font-weight: 300;
                    opacity: 0.8;
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                }
                button{
                    margin-top: 1rem;
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    border-radius: 50px;
                }
            }

        }
    }
    
    section.view2{
        @include flexColumn(2rem);
        width: 100%;
        padding: 1rem;
        .top,.bottom{
            width: 100%;
            display: flex;
            justify-content: space-around;

            .element{
                text-align: center;
                @include flexColumn(1rem);
                small{
                    opacity: 0.7;

                }
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
                
            }
        }
        .bottom{
           
            background-color: rgb(31, 28, 28);
            padding: 1.5rem;
            border-radius: 10px;
           @include flexColumn(1.5rem);
            .text{
                display:flex;
                flex-direction: column;
                gap: 0.7 rem;

                h1{
                    font-weight: 400;   
                    font-size: 2.5rem; 
                    text-transform: uppercase;            
                }
                p{
                    font-weight: 300;
                    opacity: 0.8;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding: 1rem;
                }
                button{
                    margin-top: 1rem;
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    border-radius: 50px;
                }
            }
        }
        .bottom>p{
            text-transform: uppercase;
        }
    }
    section.view4{
         width: 100%;
        padding: 1rem;
        
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
                
            }
        }
        .bottom{
           
            background-color: rgb(31, 28, 28);
            padding: 1.5rem;
            border-radius: 10px;
           @include flexColumn(1.5rem);
            .text{
                display:flex;
                flex-direction: column;
                gap: 0.7 rem;

                h1{
                    font-weight: 400;   
                    font-size: 2.5rem; 
                    text-transform: uppercase;            
                }
                p{
                    font-weight: 300;
                    opacity: 0.8;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding: 1rem;
                }
                button{
                    margin-top: 1rem;
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    border-radius: 50px;
                }
            }
        }
        .bottom>p{
            text-transform: uppercase;
        }
    }

}

@media(min-width:900px){
    main{
        section.view1{
            flex-direction: row;

            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .text{
                    gap: 1.5rem;
                    h1{
                        font-size: 3.5rem;
                    }
                    p{
                        font-size: 1rem;
                        width: 70%;
                    }
                }
            }
        }
    
        section.view2{
            flex-direction: row;
            
        }
        section.view3{
            display: flex;
            flex-direction:row-reverse;
            gap: 1rem;
            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                .paragraphs{
                    display: flex;
                }
            }
        }
        section.view4{
            display: flex;
            gap: 1rem;
            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                .paragraphs{
                    display: flex;
                }
            }
        }
    }
}   

    
