*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    height: 40vh;
    width: 40vw;
    color: #fff;
    font-size: 15rem;
    text-align: center;
    padding: 20px 30px;
    background: #856d6d;
    border-radius: 50px;
    object-fit: cover;
}